<?php

define('C1000_ENDPOINT_LIVE', '');
define('C1000_ENDPOINT_TEST', '');
define('C1000_ENDPOINT_DEV_SUCCESS', '');
define('C1000_ENDPOINT_DEV_FAILURE', '');

define('C1000_ENDPOINT_CURRENT', '');

define('C1000_REDIRECT_ENDPOINT', '');

define('C1000_SECRET', '');
define('C1000_COMPANY', '');
